/*HTML ELEMENTS*/
body {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;

}

p {
    color: #8f8f8f
}

h3 {
    line-height: 1.5;
    font-weight: 900;
    font-size: 2rem;
}

/*Headings*/
.big-heading {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 900;
    font-size: 3rem;
    padding: 10%;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*Navigation Bar*/
.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
}

/*Top-Part*/
#top-hook h1 {
    color: white;
    padding: 5%
}

#top-hook p {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 5%;
    color: black;
    margin-left: 0;
}

#top-hook #top-hook-description p {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


#top-hook {
    background-color: #ff4c68;
}

#title {
    background-color: #ff4c68;
}

#top-hook-picture {
    width: 100%;
    margin-top: 5%;
    border-radius: 120px 20px;
}

.container-fluid {
    padding: 5% 15%;
    background-color: #ff4c68;
}

.sticky-top {
    padding: 0 15%;
    background-color: #ff4c68;
}

.cleaning {
    width: 50px;
    height: 50px;
    position: relative;
    opacity: 80%;
}

#cleaning-1 {
    top: 4%;
    left: 100%;
    transform: rotate(30deg);
}

#cleaning-2 {
    top: 34%;
    left: 92%;
}

#cleaning-3 {
    top: 78%;
    left: -40%;
    transform: rotate(-30deg);
}

#cleaning-4 {
    top: 48%;
    left: -57%;
    transform: rotate(-30deg);
}

/*Features*/
.feature-pic {
    width: 60%;
    height: 60%;
    border-radius: 50% 95% 90%;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#features {
    padding: 10%;
}

.feature-title {
    font-size: 1.5rem;
}

#features p {
    line-height: 1.5;
    color: grey;
}

/*Testimonials*/
#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
    color: #fff;
}

#testimonials h2 {
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/*Press*/
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*Services*/
#services {
    padding: 15%;
    background-image: url(pics/aesthetic-pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}


.services-images {
    width: 50px;
    padding-bottom: 2%;
    padding-top: 6%;
}

#services p {
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
}

#services h2 {
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

/*pricing*/
#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}


/* Copy Right */
.social {
    width: 30px;
    margin: 0 20px;
}

.copy-right {
    background-color: #fff;
    align-items: center;
    height: 150px;
}

.copyright {
    position: relative;
    margin-top: 7%;
}

#action {
    background-color: #ff4c68;
    padding: 150px;
    color: #fff;
}

.copy-right p {
    margin-top: 30px;
    color: lightgray;
}

/*Responsiveness */
@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
}
